/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  color: #11964f;
}

/* Links */
.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-item {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar-item:hover {
  color: #007bff;
}

.navbar-item:hover::after {
  width: 100%;
  left: 0;
}

/* Actions */
.navbar-actions {
  display: flex;
  align-items: center;
}

.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}
.navbar-item.active {
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.user-name {
  margin-right: 12px;
  font-weight: normal;
}

.chevron-icon {
  width: 12px;
  transition: transform 0.3s ease;
}

// .user-dropdown:hover .chevron-icon {
//   transform: rotate(180deg);
// }

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0;
  z-index: 100;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}


.dropdown-item:hover {
  background-color: #f0f0f0;
}

.icon {
  width: 18px;
  height: auto;
  margin-right: 10px;
}

.logout {
  color: red;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-actions {
    width: 100%;
    justify-content: flex-start;
  }

  .user-dropdown {
    width: 100%;
    justify-content: space-between;
  }
}
