<b mat-dialog-title>{{ data.title }}</b>

<div mat-dialog-content>
  <form [formGroup]="recyclingForm" *ngIf="data.formType === 'recyclingCollection'">
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Collection Date</mat-label>
        <input matInput [matDatepicker]="collectionDatePicker" placeholder="Select collection date" formControlName="collectionDate" >
        <mat-datepicker-toggle matSuffix [for]="collectionDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #collectionDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-divider></mat-divider>
      <h3>Recyclable Materials</h3>

      <div class="category">
        <h4>Food Waste</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="foodWasteWeight" min="0"> 
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Aluminum</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="aluminumWeight" min="0">
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Cardboard</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="cardboardWeight" min="0">
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Glass</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="glassWeight" min="0">
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Metal</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="metalWeight" min="0">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sub-category</mat-label>
          <mat-select formControlName="metalSubcategory">
            <mat-option value="cans">Cans</mat-option>
            <mat-option value="scrap">Scrap</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Paper</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="paperWeight" min="0">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sub-category</mat-label>
          <mat-select formControlName="paperSubcategory">
            <mat-option value="books">Books</mat-option>
            <mat-option value="mixed">Mixed</mat-option>
            <mat-option value="newspaper">Newspaper</mat-option>
            <mat-option value="white">White</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="category">
        <h4>Plastic</h4>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Weight (lbs)</mat-label>
          <input matInput type="number" placeholder="Enter weight" formControlName="plasticWeight" min="0">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sub-category</mat-label>
          <mat-select formControlName="plasticSubcategory">
            <mat-option value="pet">#1 PET</mat-option>
            <mat-option value="hdpe-colored">#2 HDPE Colored</mat-option>
            <mat-option value="hdpe-natural">#2 HDPE Natural</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <form [formGroup]="revenueForm" *ngIf="data.formType === 'recyclingRevenue'" class="revenue-form">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sale Date</mat-label>
        <input matInput [matDatepicker]="saleDatePicker" placeholder="Select sale date" formControlName="saleDate">
        <mat-datepicker-toggle matSuffix [for]="saleDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #saleDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Material Type</mat-label>
        <mat-select placeholder="Choose material type" formControlName="materialType">
            <mat-option *ngFor="let material of materialTypes" [value]="material.value">
                {{ material.label }} ({{ material.weight }})
            </mat-option>
        </mat-select>
    </mat-form-field>
   <!-- New Weight Field -->
   <mat-form-field appearance="outline" class="full-width">
    <mat-label>Weight (lbs)</mat-label>
    <input matInput placeholder="Enter weight" type="number" formControlName="weight" min="0">
    <mat-error *ngIf="revenueForm.get('weight')?.hasError('min')">
        Weight cannot be negative.
    </mat-error>
    <mat-error *ngIf="revenueForm.get('weight')?.hasError('required')">
        Weight is required.
    </mat-error>
</mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Revenue (Amount in US$)</mat-label>
        <input matInput placeholder="Enter revenue amount" type="number" formControlName="revenueAmount">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buyer</mat-label>
        <input matInput placeholder="Enter buyer's company name" formControlName="buyer">
    </mat-form-field>
</form>


  <form [formGroup]="expenseForm" *ngIf="data.formType === 'landfillExpense'" class="expense-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expense Amount (US$)</mat-label>
      <input matInput placeholder="Enter expense amount" type="number" formControlName="expenseAmount">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expense Type</mat-label>
      <input matInput placeholder="Enter type of expense" formControlName="expenseType">
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Landfill Date</mat-label>
      <input matInput [matDatepicker]="landfillDatePicker" placeholder="Select landfill date" formControlName="landfillDate">
      <mat-datepicker-toggle matSuffix [for]="landfillDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #landfillDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Weight (lbs)</mat-label>
      <input matInput placeholder="Enter weight in lbs" type="number" formControlName="weight" min="0">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Landfill / Hauler</mat-label>
      <input matInput placeholder="Enter landfill or hauler company name" formControlName="landfillHauler">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="button-div">
  <button mat-button (click)="onClose()" class="button-cancel">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()" class="button-save" cdkFocusInitial disableRipple="true">Save</button>
</div>
