<div class="change-password-container">
    <video  #videoElement autoplay loop muted playsinline class="background-video">
      <source src="assets/Videos/loginbackround.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
  
    <form class="change-password-form" (ngSubmit)="changePassword()">
      <!-- Logo Section -->
      <div class="logo-container">
        <img src="assets/logo-n.svg" alt="Logo" class="login-logo" />
      </div>
      <h2>Change Password</h2>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          [(ngModel)]="newPassword"
          name="newPassword"
          placeholder="Enter your new password"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm your new password"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
  