.loader-wrapper {
    position: relative;
    width: 63px; /* Adjusted to provide more space for the rocket to move */
    height: 63px; /* Adjusted to provide more space for the rocket to move */
    margin: 20px auto;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
  }
  .loader-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    animation: rocket 1s ease-in-out infinite;
  }
  .disable-background {
    position: fixed;
    top: 0;
    left: 0;
    background: #2d2d2d;
    opacity: 0.8;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes rocket {
    0% { transform: translate(-50%, -50%) translateY(0); }
    50% { transform: translate(-50%, -50%) translateY(-6px); } /* Reduced movement to stay within circle */
    100% { transform: translate(-50%, -50%) translateY(0); }
  }
  